argparse>=1.4.0
chump>=1.6.0
construct~=2.9.43
flake8
paho_mqtt>=1.5.0,<2

pre-commit
pushbullet.py>=0.11.0
pyserial>=3.4
pyserial-asyncio>=0.4
python-slugify>=4.0.1
pytz>=2023.3.post1
# Signal support
# pygobject>=3.20.0
# pydbus>=0.6.0
# gi>=1.2
pyyaml>=5.2.0
requests>=2.20.0
require-python-3
tox
ws4py>=0.4.2
