# You can comment some requirements
#
# Mandatory packages
require-python-3
construct~=2.9.43
argparse>=1.4.0
python-slugify>=4.0.1
pytz>=2021.3
tzlocal>=4.1
#
# Optional
#
# Direct connection and GSM
pyserial>=3.4
pyserial-asyncio>=0.4
#
# MQTT Support
paho_mqtt>=1.5.0
#
# Pushbullet support
pushbullet.py>=0.11.0
ws4py>=0.4.2
#
# Pushover support
chump>=1.6.0
#
# IP150 >4.0 Support
requests>=2.20.0
#
# Signal support
# pygobject>=3.20.0
# pydbus>=0.6.0
# gi>=1.2
#
# Tools
pyyaml>=5.2.0

