# You can comment some requirements
#
# Mandatory packages
require-python-3
construct>=2.9.43
argparse>=1.4.0
#
# Optional
#
# Direct connection and GSM
pyserial>=3.4
pyserial-asyncio>=0.4
#
# MQTT Support
paho_mqtt>=1.3.1
#
# Pushbullet support
pushbullet.py>=0.11.0
ws4py>=0.4.2
#
# Pushover support
chump>=1.6.0
#
# IP150 >4.0 Support
requests>=2.20.0
#
# Homie-MQTT Iterface
git+https://github.com/mjcumming/HomieV3.git
#
# Signal support
# pygobject>=3.20.0
# pydbus>=0.6.0
# gi>=1.2
#
# Testing
# pytest
PyPubSub>=4.0.3
