# Should be at /etc/pai/pai.conf

import logging

# Default configuration.
# Edit as needed

# Logging
LOGGING_LEVEL_CONSOLE = logging.INFO # See documentation of Logging package
LOGGING_LEVEL_FILE = logging.ERROR
LOGGING_FILE = None             	# or set to file path LOGGING_FILE='/var/log/paradox.log'
LOGGING_FILE_MAX_SIZE = 10          # Max log file size in MB
LOGGING_FILE_MAX_FILES = 2          # Max old log files to keep
LOGGING_DUMP_PACKETS = False    	# Dump RAW Packets to log
LOGGING_DUMP_MESSAGES = False   	# Dump Messages to log
LOGGING_DUMP_STATUS = False         # Dump Status to log

# Development
DEVELOPMENT_DUMP_MEMORY = False

# Connection Type
CONNECTION_TYPE = 'Serial'  		# Serial or IP

# Serial Connection Details
SERIAL_PORT = '/dev/ttyS1' 		# Pathname of the Serial Port
SERIAL_BAUD = 9600              # Use 38400(default setting) or 57600 for EVO

# IP Connection Defails
IP_CONNECTION_HOST = '127.0.0.1'	# IP Module address when using direct IP Connection
IP_CONNECTION_PORT = 10000		    # IP Module port when using direct IP Connection
IP_CONNECTION_PASSWORD = b'paradox' # IP Module password. "paradox" is default.
IP_CONNECTION_SITEID = None 		# SITE ID. IF defined, connection will be made through this method.
IP_CONNECTION_EMAIL = None 		# Email registered in the site
IP_CONNECTION_PANEL_SERIAL = None  # Use a specific panel. Set it to None to use the first
IP_CONNECTION_BARE = False      # No not expect an IP150 module. Used this for base Serial over TCP tunnels

# Paradox
KEEP_ALIVE_INTERVAL = 10   		# Interval between status updates

LIMITS = { # By default all zones will be monitored
    # 'zone': range(1, 17),     # Zones to monitor and control
    # 'user': [1, 2, 3, 4],     # Users to consider
    # 'door': range(1, 32),     # Doors to consider
    # 'pgm': range(1, 17),      # PGMs to monitor and control
    # 'partition': [1, 2],      # Partitions to monitor and control
    # 'bus-module': range(1, 17),      # Buses to monitor
    # 'repeater': range(1, 9),  # Repeaters to monitor
    # 'keypad': range(1, 9)     # Keypads to monitor
}

LABEL_ENCODING = 'utf-8'                # Encoding to use when decoding labels
LABEL_REFRESH_INTERVAL = 15 * 60        # Interval between refresh of labels
OUTPUT_PULSE_DURATION = 1               # Duration of a PGM pulse in seconds
PARTITIONS_CHANGE_NOTIFICATION_IGNORE = ['arm_full', 'exit_delay'] # Do not send notifications for these notificions
STATUS_REQUESTS = [0, 1, 2, 3, 4, 5]
SYNC_TIME = True    			# Update panel time
PASSWORD = b'0000'   			# PC Password. Set to None if Panel has no Password. Master user password. Usually first user's password.

POWER_UPDATE_INTERVAL = 60      	# Interval between updates of the battery, DC and VDC voltages
PUSH_POWER_UPDATE_WITHOUT_CHANGE = True # Always notify interfaces of power changes
PUSH_UPDATE_WITHOUT_CHANGE = False      # Always notify interfaces of all changes

# MQTT
MQTT_ENABLE = False			# Enable MQTT Interface
MQTT_HOST = 'localhost' 		# Hostname or address
MQTT_PORT = 1883        		# TCP Port
MQTT_KEEPALIVE = 60     		# Keep alive
MQTT_USERNAME = None    		# MQTT Username for authentication
MQTT_PASSWORD = None    		# MQTT Password
MQTT_RETAIN = True      		# Publish messages with Retain
MQTT_BIND_ADDRESS = '127.0.0.1'
MQTT_REPUBLISH_INTERVAL = 60 * 60 * 12  # Interval for republishing all data

# MQTT Topics
MQTT_BASE_TOPIC = 'paradox'             # Root of all topics
MQTT_ZONE_TOPIC = 'zones'               # Base for zone states
MQTT_PARTITION_TOPIC = 'partitions'     # Base for partition states
MQTT_BUS_TOPIC = 'buses'                # Base for buses states
MQTT_SYSTEM_TOPIC = 'system'            # Base for panel states
MQTT_REPEATER_TOPIC = 'repeaters'       # Base for repeater states
MQTT_USER_TOPIC = 'users'               # Base for user states
MQTT_EVENTS_TOPIC = 'events'            # Base for events
MQTT_CONTROL_TOPIC = 'control'          # Base for control of othe elements (ROOT/CONTROL/TYPE)
MQTT_OUTPUT_TOPIC = 'outputs'
MQTT_KEYPAD_TOPIC = 'keypads'
MQTT_STATES_TOPIC = 'states'
MQTT_RAW_TOPIC = 'raw'

MQTT_NOTIFICATIONS_TOPIC = 'notifications'
MQTT_PUBLISH_RAW_EVENTS = True
MQTT_INTERFACE_TOPIC = 'interface'
MQTT_TOGGLE_CODES = {}
MQTT_USE_NUMERIC_STATES = False         # use 0 and 1 instead of True and False

# MQTT Homebridge
MQTT_HOMEBRIDGE_ENABLE = False

# Topic to use
# Defaults to paradox/states/partitions/PARTITION/current
MQTT_HOMEBRIDGE_SUMMARY_TOPIC = 'current'

# Homebridge states map
# Key = Paradox State
# Value = State propagated to Homebridge
MQTT_PARTITION_HOMEBRIDGE_STATES = dict(
    alarm='ALARM_TRIGGERED',
    stay_arm='STAY_ARM',
    arm='AWAY_ARM',
    sleep_arm='NIGHT_ARM',
    disarm='DISARMED')
# Homebridge control map
# Key = Command from Homebridge
# Value = Command sent to Panel
MQTT_PARTITION_HOMEBRIDGE_COMMANDS = dict(
    STAY_ARM='arm_stay',
    AWAY_ARM='arm',
    NIGHT_ARM='arm_sleep',
    DISARM='disarm')

# MQTT Homeassistant
MQTT_HOMEASSISTANT_ENABLE = False

# Topic to use
# Defaults to paradox/states/partitions/PARTITION/current_hass
MQTT_HOMEASSISTANT_SUMMARY_TOPIC = 'current_hass'

# Homeassistant states map
# Key = Paradox State
# Value = State propagated to Homeassistant
MQTT_PARTITION_HOMEASSISTANT_STATES = dict(
                             alarm='triggered', 
                             stay_arm='armed_home',
                             arm='armed_away',
                             sleep_arm='armed_night',
                             disarm='disarmed')
# Homeassistant control map
# Key = Command from Homeassistant
# Value = Command sent to Panel
MQTT_PARTITION_HOMEASSISTANT_COMMANDS = dict(
                                arm_home='arm_stay', 
                                arm_away='arm',
                                arm_night='arm_sleep',
                                disarm='disarm')

# Interfaces
COMMAND_ALIAS = {						# alias for commands through text based interfaces
    'arm': 'partition all arm',
    'disarm': 'partition all disarm'
}

# Pushbullet
PUSHBULLET_ENABLE = False
PUSHBULLET_KEY = ''                     # Authentication key used for Pushbullet
PUSHBULLET_SECRET = ''                  # Authentication secret used for Pushbullet
PUSHBULLET_CONTACTS = []                # Pushbullet user identifiers for notifications and interaction

# Pushover
PUSHOVER_ENABLE = False
PUSHOVER_KEY = ''                       # Application token for Pushover
PUSHOVER_BROADCAST_KEYS = {             # Pushover user or group keys to broadcast notifications to
#    '<user_key>': '*'                  # value can be '*' or comma separated list of device names
}

# Signal
SIGNAL_ENABLE = False
SIGNAL_CONTACTS = []                    # Contacts that are allowed to control the panel and receive notifications through Signal
SIGNAL_IGNORE_EVENTS = []               # List of tuples (major, minor)

# GSM
GSM_ENABLE = False
GSM_MODEM_BAUDRATE = 115200             # Baudrate of the GSM modem
GSM_MODEM_PORT = ''                     # Pathname of the serial port
GSM_CONTACTS = []                       # Contacts that are allowed to control the panel and receive notifications through SMS
GSM_IGNORE_EVENTS = []                  # List of tuples [(major, minor), ...]

# IP Socket Interface
IP_INTERFACE_ENABLE = False
IP_INTERFACE_BIND_ADDRESS = '0.0.0.0'
IP_INTERFACE_BIND_PORT = 10000
IP_INTERFACE_PASSWORD = b'0000'

# Dummy Interface for testing
DUMMY_INTERFACE_ENABLE = False
