# sudo cp /lib/systemd/system/
# systemctl enable pai
# systemctl restart pai
# by https://github.com/cybertza
[Unit]
Description=Paradox Alarm Interface Service
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/home/pi/pai
ExecStart=/usr/bin/python3 /home/pi/pai/run.py

[Install]
WantedBy=multi-user.target

