[Unit]
Description=Paradox Alarm Interface
Wants=network-online.target signal.service
After=network-online.target signal.service

[Service]
WorkingDirectory=/opt/pai
ExecStart=/usr/bin/python3 /opt/pai/pai.py -c /etc/pai/pai.conf
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pai
Type=simple
Restart=always
KillMode=process
TimeoutSec=infinity

[Install]
Alias=paradox.service
WantedBy=multi-user.target

